.header
  h1.header__title
    | Ты готов стать профессионалом?
  h5.header__subtitle
    | Мы ищем 
    a(href="#").header__link талантов 
    | и 
    a(href="#").header__link саппортов 
    | в команду. Решите на какую категорию вы претендуете.
  .header__button  
    a(href="#")
      .circle 
        | +
    span Заполнить анкету