.section
  .section__box
    .section__item
      h5 
        | Прокачиваем мир
      p 
        | Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?
    .section__item
      h5 
        | Прокачиваем мир
      p 
        | Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?
  .section__box    
    .section__item
      h5 
        | Прокачиваем мир
      p 
        | Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?    
    .section__item
      h5 
        | Прокачиваем мир
      p 
        | Вы хотите сделать мир лучше и не готовы ждать всю жизнь, чтобы начать это делать?