include option.pug

.work

  h3.work__title
    | Приемущества работы с нами

  .work__option
    +option(
      'Делимся оптом и навыками',
      'Мы обучаем коллег всему, что знаем сами. Наш опыт уникален и проверен временем, а команда постоянно совершенствует свои знания и навыки.'
    )
    +option(
      'Стабильная зарплата',
      'Вы без задержек получаете официальную зарплату. Также мы оплачиваем больничные и даем возможность брать оплачиваемый отпуск до 4 недель в год.'
    )
    +option(
      'Гибкий график',
      'Мы умеем работать с теми, кто еще не закончил получать образование. Вы можете работать неполный рабочий день, брать отгулы на время сессии и диплома.'
    )