.header {
  padding-bottom: 126px;
  
  &__title {
    margin-top: 165px;
    margin-bottom: 20px;
    font-family: DIN Pro;
    font-size: 47px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #222222;

    @include xs {
      font-size: 37px;
    }
  }

  &__subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #4A4556;

    @include xs {
      padding: 0 15px;
    }

    @include sm {
      padding: 0 25px;
    }
  }

  &__link {
    color: #F47821;
    text-decoration: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;

    a {
      text-decoration: none;

      .circle {
        width: 54px;
        height: 54px;
        border-radius: 50%;
        background-color: #f9f9f9;
        color: #F47821;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;    
        margin-left: 6px;
      }
    }

    span {
      font-family: Gilroy;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #222222;
      margin-left: -8px;
    }
  }
}
