.work {
  background-color: #F7F5FA;

  &__title {
  font-weight: normal;
  padding-top: 124px;
  font-family: DIN Pro;
  font-size: 40px;
  padding-bottom: 60px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #000000;
  }

  &__option {
    max-width: 1190px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 100px;

    @include md {
      justify-content: flex-start;
    }
    
    .option {
      max-width: 33.33%;
      flex: 0 0 33.33%;
      padding: 0 65px 60px 10px;
      box-sizing: border-box;

      @include xs {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0 6% 60px 6%;
      }

      @include sm {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0 16% 60px 16%;
      }

      @include md {
        max-width: 50%;
        flex: 0 0 50%;
        padding: 0 10% 60px 10%;
      }

      &__title {
        font-family: DIN Pro;
        font-size: 20px;
        line-height: 25px;
        color: #000000;   
        padding: 26px 0px 10px 1px;
      }
  
      &__text {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #4E4D53;
        padding: 20px 0 0 0;
      }
    }
  }
}
