@import 'fonts';
@import 'media.scss';
@import '1.scss';
@import '2.scss';
@import '3.scss';
@import '4.scss';
@import 'footer.scss';

body {
  min-width: 320px;
}

html, body, p, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
